@echo off
rem Copy this file and rename `setenv.bat`, and change values appropriately in the environment.

set SPRING_DATASOURCE_URL=jdbc:log4jdbc:oracle:thin:@<network_alias>?TNS_ADMIN=<wallet_dir_path>
set SPRING_DATASOURCE_USERNAME=<username>
set SPRING_DATASOURCE_PASSWORD=<password>
set LOGGING_FILE_NAME=<logfile_path>
